.navbar, .footer {
  font-family: $header;
  background-color: $title-bg;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  button {
    font-family: $text;
    font-size: 15px;
    color: $title;
    background-color: $title-bg;
    border: $title-bg solid 1px;

    a {
      color: $title;
      text-decoration: none;
      font-size: 16px;
    }
  }
}

.navbar {
  button {
    background: $accent;
    color: $font;
    border-radius: 20%;
    padding: 7px;
  }
}

h6 {
  font-size: 18px;
  display: block;
  width: 100%;
  margin: 10px;
  color: $font;
}
