@import "variables";
@import "poll";
@import "header";
@import "navbar";
@import "forms";

body {
  margin: 0 auto;
}

h1 {
  font-family: "Righteous", cursive;
  text-decoration: none;
  padding: 5px;
}
